body {
	font-size: 22px;
	line-height: 34px;
}

header,
nav {
	color: #FFFFFF;
	background-color: #FD739C;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	padding-top: 100px;
	padding-bottom: 50px;
}

h1 {
	line-height: 0.7em;
}

main {
	padding-top: 55px;
}

h1, 
h2 {
	font-family: Arial, Helvetica, sans-serif;
}

