body {
	font-size: 22px;
	line-height: 34px;
}

header,
nav {
	color: #FFFFFF;
	background-color: #FD739C;
	font-family: Arial, Helvetica, sans-serif;
}

h1, 
h2 {
	font-family: Arial, Helvetica, sans-serif;
}

